/* Border
-------------------------- */
$--border-radius-base: 5px !default;

/* Color
-------------------------- */
$--color-white: #fff !default;

/* Message
-------------------------- */
$--message-max-width: 160px;
$--message-icon-size: 2.5em;
$--message-font-size: 14px;
$--message-font-color: $--color-white;

/* Message-box
-------------------------- */
$--msgbox-closeIcon-size: 1.5em;
$--msgbox-closeIcon-color: #34495e;
$--msgbox-font-size: 14px;
$--msgbox-font-lineHeight: 20px;
$--msgbox-footer-btnHeight: 50px;
